
body{
    margin:0px;
    
}
/*header properties*/
header{
    font-family: 'Indie Flower', cursive;/*google fonts*/
    float: left;
    padding: 5px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    box-shadow: 2px 4px;
    border:1px;
}


/*making the header and footer fixed*/
.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;        
    background:white;
    padding: 10px 10px;
    color:black;
}
/*adjusting header to top*/
.fixed-header{
    top: 0;
}
/*adjusting footer to bottom*/
.fixed-footer{
    bottom: 0;
}  
/*adjusting header to left */
header h1,h3{
    margin-left: 20px;
    
}
/*adjusting header text */
header h1{
    margin-top:10px;
}
header h3{
    margin-top:4px;
}
  
/*navigation properties*/
.navbar{
    background:white;
    color:grey;
    float:right;
}
/*nav bar anchor tag properties*/
nav a{
    text-decoration:none;
    padding:10px;
    font-family:monospace;
    font-size: 20px;
    color:grey; 
}
/*nav hover*/
a:hover{
    color:black;
    font-size: 25px;
}


/*body after hero image -properties*/
.container{
    width: 100%;
    margin:auto;
}
/*properties of article*/
.container p,li,h2{
    margin-left:30px;
    line-height: 18px;
    font-family: 'Dosis', sans-serif;
   
}
.responsive{
    width: 95%;
    height: auto;
    margin-left:20px;
    margin-top:40px;
}
footer{
top:90%;
margin-left:0px;
}

body{
    margin:150px 0px 100px 0px;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
	    
}
 /* Handle */
::-webkit-scrollbar-thumb {
    background:lightgray; 
    
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:darkgray; 
}
::-webkit-scrollbar-button{
    margin-top:10px;
    background:black;
    
}
/* social Links*/
i{
    margin-right:20px;
    float:right;
}

/*using flex for wrapping*/
.flex-container{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    
  }
/*using flex for img dimensions*/
.flex-container img {
    width: 300px;
    height: 300px;
    margin-left: 10px;

  }


